.container{
  width: 1280px;
  margin: 0 auto;
  padding: 3em;
  
}
.btn-close{
  float:right;  
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
}
img{
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  right: 0;
  top: 0;
}