body, html{
  height: 100%;
  font-family:"helvetica";
  
  font-size:12px;
  
  font-weight:10;
  
  text-transform:none;
  
  color: gray;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: gray;
}
a:link{
  text-decoration: none;
  color:gray;
}
a:hover{
  text-decoration: none;
  color:gray;
}
a:visited{
  text-decoration: none;
  color:gray;
}
a:active{
  text-decoration: none;
  color:gray;
}

body{
  overflow: auto scroll;
}
.header{
  width: 1040px;
  margin: 0 auto;
}
.title{    
  padding-top:50px;
  padding-left:15px;
  
  font-family:"helvetica";
  font-size:19px;
  
  font-weight:10;
  
  text-transform:none;
  letter-spacing: 2px;
  
  color: rgb(145, 144, 144)
}


#navbar{  
  /* padding-left: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 20px;
  /* align-items: center; */
}



.main{
  width:1280px;
  margin: 0 auto;
  
}


.slide1{
  width: 1280px;
  height: 853px;  
  margin: auto;
  overflow: auto;  
  position:absolute;
  text-align: center;
  left:50%;
  transform:translate(-50%, 0);
  
}
.dropdown{
  position:relative;
  display: inline-block;
  width: 310px;
  text-align: center;
}
.dropbtn{
  width: 310px;
  text-align: left;
  color: gray;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 12px;
}
.contactmenu{
  letter-spacing: 2px;
  text-align: left;
}

.dropdown-content{  
  display:none;
  position:absolute;
  z-index: 1;
  background-color: white;
  text-align: left;
  letter-spacing: 2px;
  padding-top: 15px;
  text-indent: 5px;
  font-size: 11px;
  
}
.dropdown-content a{
  display: block;
  background-color: white;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  text-align: left;
  
}

.dropdown:hover .dropdown-content{
  display: block;
}

.top{
  padding-left: 200px;
}

/* work page에 사용되는 CSS */
.wrap{  
  margin: 0 auto;  
  overflow: hidden;
  padding-top: 10px;
  text-align: center;  
}

div > article {
  display: inline-block;
  width: 300px;
  height: 200px;  
  margin: 40px 20px 40px 20px;
}

.theme_name{
  padding: 50px 0 0 150px;  
}

.theme_place{
  padding: 50px 0 0 150px;
}
.theme_des{
  padding: 50px 0 50px 150px;
}

pre{

  overflow: auto;
  white-space: pre-wrap;
  font-family:"helvetica";
  
  font-size:12px;
  
  font-weight:10;
  
  text-transform:none;
  
  color: gray;
}

.contact{
  display: flex;
}

.contact1{
  padding: 100px;
  width: 400px;
  height: 700px;
}

.imggrid{

  max-width: 100%;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  display: block;  
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
}
.imgsingle{
  max-width: 1080px;
  max-height: 720px;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  right: 0;
  top: 0;
}

.btn-close{
  float:right;  
}
.container{
  width: 1280px;
  margin: 0 auto;
  padding: 3em;
  
}
.form_biography{
  margin-left: 50px;
}
.form_work_mkdir{
  margin-left: 50px;
}

textarea{
  resize: both
}

.work_description{
  margin-left: 150px;
  font-size: 14px;
}

.delete_project{
  border:0 solid black;
  background-color: white;
  margin-left: 150px;
}

/* 바이오 그래피쪽 */

#aboutPre{
  display: flex;
  flex-direction: row;
}
#aboutPre1{
  width: 50%;
  padding-right: 50px;
}
#aboutPre2{
  width: 50%;
  padding-left: 50px;
}

#contact{
  display: flex;
  flex-direction: row;
}
#contactleft{
  width: 50%;
  padding-right: 50px;
  text-align: center;
}
#contactright{
  width: 50%;
  padding-left: 50px;
  text-align: center;
}

.contactform{
  margin: 4px 0;
  padding: 8px;
  width: 400px;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

.repreimg{
  width: 600px;
  height: 400px;
}


.studiomain{
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
}
.studiodes{
  display: flex;
  align-items: flex-end;
}

